@using System.Globalization
@using QT.Models
@model Week

@{
    ViewBag.Title = "Bokningar";
    Layout = "~/Views/Shared/_XxxLutzLayout.cshtml";
    var currentCulture = CultureInfo.CurrentCulture;
    var weekNo = currentCulture.Calendar.GetWeekOfYear(
                    Model.CurrentDate,
                    currentCulture.DateTimeFormat.CalendarWeekRule,
                    currentCulture.DateTimeFormat.FirstDayOfWeek);
}

@*<div class="well">Boka leverans</div>*@
<div class="container" id="calendar">

    <div class="container" id="calendarTopBar">
        <div class="col-md-12">
            <a class="col-md-2 align-left" href="@Url.Action("GetWeekCalendar", new { date = Model.CurrentDate.AddDays(-7), status = Status.All})"><span class="glyphicon glyphicon-arrow-left"></span></a>
            <div class="col-md-8" id="calendarTopBarDate">
                <span>@Model.DateFrom.ToShortDateString()</span>
                <span class="col-md-offset-1">Vecka @weekNo</span>
                <span class="col-md-offset-1">@Model.DateTo.ToShortDateString()</span>
            </div>
            <a class="col-md-2 align-right" href="@Url.Action("GetWeekCalendar", new { date = Model.CurrentDate.AddDays(7), status = Status.All})"><span class="glyphicon glyphicon-arrow-right"></span></a>
            <div class="clearfix"></div>
        </div>
    </div>

    @* ReSharper disable once UnknownCssClass *@
    <div class="calendar-container container">

        <div class="row calendar-row hidden-xs">
            <div class="col-md-1" style="max-height: 30px;">
                <div class="col-md-12"><strong>Datum</strong></div>
            </div>
            <div class="col-md-11">
                <div class="col-md-4" style="text-align: center;">
                    <div class="col-md-12"><strong>10.00 - 13.00</strong></div>
                </div>
                <div class="col-md-4 " style="text-align: center;">
                    <div class="col-md-12"><strong>13.00 - 16.00</strong></div>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <div class="col-md-12"><strong>16.00 - 19.00</strong></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        @for (var dayNbr = 0; dayNbr < 7; dayNbr++)
        {
            <div class="row calendar-row">
                @{
                    ViewData["day"] = dayNbr;
                    Html.RenderPartial("_day", Model, ViewData);
                }
            </div>
        }
    </div>

</div>
